{% include "header.html" %}

     <!-- .container -->
     <main role="main" class="container"><br><br><br>
      <div class="starter-template">
        <h1>動物圖像預測</h1>
        <p class="lead">Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.</p>
      <!-- 新增在這裡 -->
        <form enctype="multipart/form-data" method="post">            
          <div class="form-group">
            <label for="review">上傳圖片:</label>
            <input type="file" class="form-control" placeholder="Enter content" name="file">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="form-group">
        <br> <br>    
            <label for="review"><h2>{{ result }}</h2></label><br>
            <img src="{{upload_image}}" width="400">
        </div>
      <!-- 結束在這裡 -->
      </div>
    </main>
    <!-- /.container -->
    
{% include "footer.html" %} 